[Unit]
Description=Worker terminal 
After=kiosk-browser.service

[Service]
ExecStart=/home/ima/workerterminal/startWorkerTerminal.sh
Restart=on-failure
User=ima
Group=ima

[Install]
WantedBy=multi-user.target